html,body,#app,.home,.root,.login{
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  height: 100%;
}

a{
  text-decoration: none !important;
}

.home .signIn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: red;
  outline: red;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 20px;
  margin-top: 20px;
  top:0;
  right: 0;
}

.home .logo{
  font-size: 60px;
  margin: 0;
  padding: 0;
  line-height: 60px;
  font-weight: bold;
  color: red;
  position: absolute;
  top: 20px;
  left: 20px;
}

.login .logo{
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  color: red;
  padding: 15px;
  display: inline-block;
}

.btn.btn-primary{
  background-color: red;
  border: none;
}

.login .logo:hover{
  text-decoration: none !important;
}

.login .logo span{

}

.home .header{
  background-image: url('../imgs/netflixbg.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}



.login .header .loginBox{
  width: 460px;
  margin: auto;
  padding: 40px;
  background-color: #f3f3f3;
}

.login .header{
  background-image: url('../imgs/loginbg.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
